<% form_tag 'answer' do -%>
<%= image_tag("#{@pic_user.avatar.url}",:width=>300,:height=>300,:class => 'image1') %>
<%= hidden_field_tag "pic_user_id", "#{@pic_user.id}" %>
<br></br>
<div style="margin-left: 170px;">
<% @selected_users.each.each do |user| %>
<%= radio_button_tag "user_id","#{user.id}",false,:id => "#{user.id}",:class => "radio" %><%= user.name %>
<% end %>
  </div>
<br/><br/>
<div style="margin-left: 130px">
<%=  image_submit_tag("answer.png",  :id => "Submit") %>
<%= link_to image_tag('back.png'),users_path %>
</div>
<% end -%>
